body, html {
    height: 100%;
    background-color: rgb(82, 192, 255);
}

.landing-bg {
    background-image: url('../images/landing.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1000px; 
}

.landing-header {
    margin-top: 30%;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    color: #FFF;
    padding: 15px;
}

.landing-header h1 {
    font-size: 4em;
}

.landing-middle {
    padding-bottom: 3em;
}

.landing-middle p {
    background-color: #FFF;
    font-size: 2em;
    margin: 0;
    padding: 1em 1em 0 1em;
}

.calling-card {
    margin: 0% 10% 5% 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: rgb(255, 143, 210);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+1,f9b8e3+48,fba6e1+76 */
    background: #ff7cd8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ff7cd8 1%, #f9b8e3 48%, #fba6e1 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff7cd8 1%,#f9b8e3 48%,#fba6e1 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff7cd8 1%,#f9b8e3 48%,#fba6e1 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fba6e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-size: 1.5em;
    color: #182360;
}

.font-signiture {
    font-family: 'Courgette', cursive;
}

.landing-bottom img {
    float: left;
    margin-right: 15px;
}

.content p {
    font-size: 1.2em;
    text-indent: 2em;
}

.content h1 {
    font-size: 2em;
	font-weight: normal;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6699FF;
	margin-bottom: 20px;
}

.sidebar strong {
    display: block;

    text-align: center;
}